/* DOCUMENT INFORMATION
    - Document: Popup Styling
    - Author: Alex Megahy
    - Description: All styles used for centeral popup
------------------------------------------- */

/* Main popup container */
.popup {
    background: $popUp-BG;
    display: flex;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
}