/* DOCUMENT INFORMATION
    - Document: Footer styles
    - Author: Alex Megahy
    - Description: All footer stylings
------------------------------------------- */

.footer{
    background-color: $footer-BG;
    bottom: 0;
    height: 3em;
    width: 100%;
    position: absolute;
}