/* DOCUMENT INFORMATION
    - Document: Navigation Bar Styling
    - Author: Alex Megahy
    - Description: All styles used for nav bar
------------------------------------------- */

/* Navigation bar container */
.nav-bar {
    background-color: $nav-bar-BG;
    border: $nav-bar-border;
    display: inline-flex;
    height: auto;
    padding: 1em .5em;
    width: 100%;
}